@import
url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body { 
    font-family: Arial, sans-serif; 
    font-size: 20px;
    background: #faf6ff; 
}

.container {
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 30px;
}

#search { 
    width: 100%; 
    padding: 12px; 
    border-radius: 10px; 
    border: 1px solid #ccc; 
    margin-top: 5px; 
    background-color: #1D1B2014;
}

.filters { 
    display: flex; 
    margin: 15px 0; 
}

.filters button {
    flex:1; padding: 10px; 
    border: 1px solid #EBDEF7; 
    cursor: pointer; 
    background: white;
    border-right: none;
}

.filters button:last-child { 
    border-right: 1px solid #EBDEF7; 
}

.filters .active { 
    background: #EBDEF7; 
}

.todo-item {
    background: #efe9ff; 
    border-radius: 10px; 
    padding: 12px; 
    display: flex; 
    align-items: center;
    margin-bottom: 8px; 
    gap: 10px;
}
.todo-item.completed { 
    text-decoration: line-through; 
    opacity: 0.5; 
}

.add-btn {
    position: fixed; 
    bottom: 15px; 
    right: 20px;
    background: #EBDEF7;
    border-radius: 16px; 
    padding: 14px; 
    border: none; 
    cursor: pointer;
    font-size: 20px;
}

/* Modal */
.modal-bg {
    position: fixed; 
    inset:0; 
    background:rgba(0,0,0,0.5);
    display: none; 
    justify-content: center; 
    align-items: flex-end;
}
.modal {
    background: #faf6ff; 
    width: 100%; 
    max-width: 400px;
    padding: 20px; 
    border-radius: 16px 16px 0 0;
    position: absolute;
    bottom: 0;
}
.modal input {
        width: 100%; 
        padding: 10px; 
        border: 1px solid #ccc; 
        border-radius: 8px; 
        margin-bottom: 12px; 
    }

.modal-buttons { 
    display: flex; 
    justify-content: space-between; 
    margin-top:10px; 
}

.modal-buttons button { 
    padding: 10px 18px; 
    border-radius: 8px; 
    cursor: pointer; 
    border: none; 
}

#add-task{ 
    background: #b394ff; 
    color: white;
}

#close-modal
{ background: white; 
    border: 1px solid #ccc;}

.switch { 
    position: relative; 
    display: inline-block; 
    width: 42px; 
    height: 22px; 
}

.switch input { 
    display: none; 
}

.slider { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background:#ccc; 
    border-radius:34px; 
    cursor:pointer; 
}

.slider:before {
    position:absolute; 
    content:""; 
    width:18px; 
    height:18px; 
    left:2px; 
    bottom:2px;
    background:white; 
    border-radius:50%; 
    transition:.3s;
}

input:checked + .slider { 
    background:#b394ff; 
}

input:checked + .slider:before { 
    transform:translateX(20px); 
}

@media (max-width: 428px) {
    body {
        width: 100%;
    }
}